body 
{
  color: brown;  
  text-align: center;
  
}
#cuerpo

{
    color: blueviolet;
    border: 1px solid rgb(222, 231, 226);
    text-align: center;
    margin: 0 auto;
}

#parrafo
{
    color: rgb(10, 10, 10);
    text-align: left;
    font-family: 'Courier New', Courier, monospace;
    background-origin: padding-box;
    margin: 0% auto;
    border: 1px solid rgb(222, 231, 226);
}